<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="media/styles.css" />
    <title>App</title>
  </head>
  <body>
    <header class="header">
      <div class="header-box">
        <h1 id="header__h1" class="header__h1">Choose page</h1>
        <button class="header__btn">
          <a href="ссылка на джанго админ">Login</a>
        </button>
      </div>
    </header>

    <main class="main">
      <nav class="nav">
        <ul class="ul">
          <li class="li"><a href="/#/">Personal info</a></li>
          <li class="li"><a href="/#/main_page">Main page</a></li>
          <li class="li"><a href="/#/cameras_status">Cameras status</a></li>
          <li class="li"><a href="/#/cabinets_status">Cabinets status</a></li>
        </ul>
      </nav>

      <section class="section">
        <div id="main__div" class="main__div"></div>
      </section>

      <div id="search" class="search">
        <form class="search__form">
          <input class="input" type="text" placeholder="Enter id" />

          <input class="input" type="text" placeholder="Enter name" />

          <button class="button" type="submit">Find</button>
        </form>

        <div class="search_table"></div>
      </div>
    </main>
    <script src="media/app.js"></script>
  </body>
</html>
